 @import url('https://fonts.googleapis.com/css2?family=Festive&family=Montserrat:ital@1&display=swap');
 *{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img.jpg');
    font-weight: bold;
    color: white;
    background-size: cover;
    
    

}
.counter{
    display: flex;
    flex-direction: row;
    margin-top: 25px;

}
.bodys{
    padding-bottom: 150px;
    margin-left: 0px;
}
.new{
    font-family: 'Festive', cursive;
    font-size: 50px;
    padding-left: 30px;
}
.imgs{
    position:relative;
    width: 100px;   
    height: 100px; 
    padding-top: 20px;
    padding-bottom: 50px;  
    padding-left: 0px;   
                                                                                                                                                                                                                    
}
.coun{
    position: relative;
    padding-left: 70px;
 
}
.box{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-left: 10px;
    
}
.box h2{
    text-align: center;
    font-size: 30px;
}
.box small{
    font-size: 10px;
}
@media (min-width:576px){
    body{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('img.jpg');
    }
    }

@media (min-width:1280px){
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('new.jpg');
}
}